<% ejemplos = %w[Prueba Hola Botella] %>
<h1>Bienvenido a la primera página</h1>

<p>Para ir al formulario, hacer clic <a href="/ask">aquí</a></p>
<p>Para ir a la página de respuesta con la palabra del día <a href="/answer?pregunta=<%= ejemplos.sample %>"> cliquéame</a>
